appdirs==1.4.3
click==6.7
Flask==0.12.1
Flask-Admin==1.5.0
Flask-Autodoc==0.1.2
Flask-Login==0.4.0
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
py==1.4.33
PyMySQL==0.7.11
pyparsing==2.2.0
pytest==3.0.7
six==1.10.0
SQLAlchemy==1.1.9
SQLAlchemy-Utils==0.32.14
Werkzeug==0.12.1
WTForms==2.1
